<%= render 'layouts/listing_nav' %>
<div class="container">
    <div class="jumbotron jumbo">
    </div>
    <h1 class="display-3 text-center">We have thousands of visitors searching for your property every day.</h1><br>
    <div class="row">
        <div class="col-sm align-content-center">
            <div class="card">
                <div class="card-body">
                    <h3 class="bold">Affordable Rentals</h3>
                    <p>We've made it quicker, easier and cheaper to post your rental listing.</p>
                    <p>What do you get:</p><br>
                    <p><i class="fa fa-check text-success"></i> Newly designed search page for your affordable listing.</p>
                    <p><i class="fa fa-check text-success"></i> Property seekers get instant notifications for new listings.</p>
                    <p><i class="fa fa-check text-success"></i> Management interface to keep track of your properties.</p>
                    <p><i class="fa fa-check text-success"></i> Email and sms notifications when someone contact you.</p>
                </div>
                <%= link_to 'Create A Listing With Us', new_listing_path, class:"btn btn-outline-success btn-lg" %>
                <br>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>
<br>
