// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.landing-page {
    background-image: url("misty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.carou-1 {
    background-image: url("nai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbo {
    background-image: url("corporate-Africa-business-investment-handshake-deal.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 400px;
}